<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakuTweakerNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MakuTweakerNew.Properties.Settings>
            <setting name="lang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="langSI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="style" serializeAs="String">
                <value>Tabbed</value>
            </setting>
        </MakuTweakerNew.Properties.Settings>
    </userSettings>
</configuration>